
.container-enderecos {
    border: 1px solid rgba(39, 37, 37, 0.404);
    position: absolute;
    left: 550px;
    width: 1300px;
    height: 900px;
}

.title-enderecos {
    /* border: 1px solid red; */
    height: 100px;
    display: flex;
    align-items: end;
    justify-content: start;
    padding-left: 30px;
}

.container-addendereco {
    /* border: 1px solid red; */
    cursor: pointer;
    width: 600px;
    height: 200px;
    position: absolute;
    left: 40px;
    border: 4px solid green;
    border-style: dashed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-addendereco-style {
    width: 50px;
    height: 60px;
}

.cardnewendereco {
    /* border: 1px solid red; */
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 800px;
    height: 130px;
    display: flex;
}

.container-cardnewendereco {
    display: grid;
    /* border: 1px solid red; */
    position: absolute;
    top: 340px;
    left: 40px;
    width: 900px;
    height: 350px;

}

.input-novoendereco-style {
    margin-bottom: 5px;
    padding-left: 20px;
    border: 1px solid rgba(0, 0, 0, 0.288);
    width: 500px;
    height: 40px;
    border-radius: 10px;
}

.title-novoendereco {
    padding-left: 20px;
    /* border: 1px solid red; */
    display: flex;
    align-items: end;
}

.btn-salvar-pagprofile {
    font-family: 'Teko';
    font-size: 20px;
    padding: 5px;
    width: 150px;
    color: white;
    background-color: green;
    border: none;
    cursor: pointer;
    /* border: 1px solid black; */
}

.form-novoendereco {
    padding-left: 50px;
    /* border: 1px solid red; */
    width: 1200px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.container-novoendereco {
    /* border: 1px solid rgba(224, 13, 13, 0.664); */
    background: rgb(250, 250, 250);
    z-index: 1;
    left: 0px;
    top: 5;
    width: 1300px;
    height: 900px;
    
}

.nome-info {
    /* border: 1px solid red; */
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-endereco {
    /* border: 1px solid red; */
    width: 370px;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.cont-btn-edit {
    /* border: 1px solid red; */
    width: 400px;
}

.cont-btn-edit {
    display: flex;
    align-items: start;
    justify-content: end;
    padding: 10px;
}

.cont-btn-edit button {
    border: none;
    /* border: 1px solid red; */
    background-color: rgba(7, 179, 7, 0.829);
    color: white;
    padding: 5px;
    width: 60px;
}

.container-infosenderecos {
    padding: 5px;
    padding-top: 0px;
    text-align: start;
    /* border: 1px solid red; */
    width: 360px;
    height: 120px;
    display: flex;
    align-items: start;
    padding-left: 30px;
    flex-direction: column;

}
