@font-face {
    font-family: 'Moonhouse';
    src: url('../../../fonts/moonhouse.ttf') format('truetype'); /* Caminho até a fonte */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Teko';
    src: url('../../../fonts/Teko-VariableFont_wght.ttf') format('truetype'); /* Caminho até a fonte */
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../../../fonts/MontserratAlternates-ExtraLight.ttf') format('truetype'); /* Caminho até a fonte */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Russo One';
    src: url('../../../fonts/Russo_One.ttf') format('truetype'); /* Caminho até a fonte */
    font-weight: normal;
    font-style: normal;
}

.container-homepag {
    /* border: 1px solid red; */
    width: 1600px;
    height: 4490px;
    position: absolute;
    left: 120px;
}


.TorcidaVip {
    position: absolute;
    width: 259px;
    height: 38px;
    left: 108px;
    top: 48px;
    font-family: 'moonhouse';
    font-style: normal;
    font-weight: 400px;
    font-size: 32px;
    line-height: 32px;
    color: #FFFFFF;
}

.container {
    /* border: 1px solid rgb(0, 0, 0); */
    height: 3000px;
    position: relative;
}

.container-topflap {
    z-Index: 5;
    width: 1905px;
    height: 108px;
    position: relative;
    position: fixed;
    /* border: 1px solid red; */
}   

.container-sun-topflap {
    width: 1905px;
    height: 108px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: linear-gradient(0deg,rgb(2, 2, 2) 0%,rgb(25, 25, 26) 100%), linear-gradient(0deg, #1E1E1E 0%, #1E1E1E 100%);
    border-bottom-left-radius: 142.5;
}


.container-searchbar {
    width: 460px;
    /* border: 1px solid red; */
    height: 53.16px;
    left: 1050px;
    position: absolute;
    top: 40px;
}


.borderinput {
    width: 450px;
    /* border: 1px solid red; */
    height: 53px;
    left: 0;
    top: 0p;
    position: 'absolute';
    background: 'white';
    border-Radius: 46.50px;
}

.inputstyle {
    width: 370px;
    /* border: 1px solid red; */
    height: 36.80px;
    left: 57.93px;
    top: 10px;
    position:absolute;
    color: rgba(0, 0, 0, 0.30);
    font-Size: 20px;
    font-Family: Lustria;
    font-Weight: 400px;
    word-wrap: break-word;
}

.containercartuserheart {
    /* border: 1px solid red; */
    width: 200px;
    height: 49.75px;
    left: 1600px;
    top: 43px;
    position: absolute;
    justify-Content: flex-start;
    align-Items: center;
    gap: 9px;
    display: inline-flex;
    
}

.btn-searchbar {
    background: none;
    border: none;
    cursor: pointer;
}

.container-maisvendido {
    /* border: 1px solid red; */
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 45px;
    top: 110px;
    
}

.text-nome-cardprofile {
    overflow: hidden;
}

.maisvendido-style {
    cursor: default;
    /* position: absolute; */
    width: 250px;
    height: 58px;
    /* left: 155px;
    top: 30px; */
    background: #47B868;
    border-radius: 0px 100px 0px 0px;
    transform: matrix(1, 0, 0, -1, 0, 0);

}

.icon-addcart {
   
    /*Rectangle 20 */
    /* position: absolute; */
    border: 1px solid rgba(0, 0, 0, 0.39);
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* left: 155px;
    top: 30px; */
    background: #47B868;
    transition: 1s;
    border-radius: 5px;
    /* border-radius: 0px 100px 0px 0px; */
    
}

.icon-addcart-empity {
   
    /*Rectangle 20 */
    /* position: absolute; */
    border: 1px solid rgba(0, 0, 0, 0.39);
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* left: 155px;
    top: 30px; */
    background: #7a7a7abb;
    transition: 1s;
    border-radius: 5px;
    /* border-radius: 0px 100px 0px 0px; */
    
}

.icon-addcart:hover {
    background: white;

}

.container-choose-size {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    height: 58px;
    padding-bottom: 10px;
}

.font-addcart {
    /* border: 1px solid red; */
    /* height: 50px; */
    color: white;
    font-family: 'Teko';
    font-size: 30px;
    text-align: end;
}

.container-roll-sizes {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    width: 250px;
    height: 60px;
}

.imgcarrinhocompras-style {
    color: white;
}


.icon-addcart:hover .imgcarrinhocompras-style,
.icon-addcart:hover .font-addcart {
  color: black; /* Muda a cor para preto */
}

.sun-sizes:hover h4 {
    color: white;
}

.sun-sizes {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.452);
    width: 60px;
    height: 40px;
    transition: 1s;
}

.sun-sizes:hover  {
    background-color: #47B868;
}

.style-textmaisvendido {

    /* MAIS VENDIDOS */
    /* border: 1px solid red; */
    position: absolute;
    width: 250px;
    height: 57px;
    right: 10px;
    top: 3px;
    font-family: 'Teko';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 120px;
    color: #ffffff;
    transform: matrix(1, 0, 0, -1, 0, 0);

}

.products-maisvendidos {
    /* Opções */
    /* Auto layout */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0px;
    gap: 30px 15px;
    position: absolute;
    width: 1800.83px;
    height: 1300px;
    left: 0px;
    top: 260px;
}


.container-adicionarcarrinho {
    /* border: 1px solid red; */
    height: 130px;
    width: 300px;
    display: none;

}


.produtos-destaque{
    /* Opções */
    /* Auto layout */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 10px;
    gap: 30px 20px;
    position: absolute;
    width: 1290.83px;
    height: 1260px;
    left: 155px;
    top: 1760px;
}

.container-bigproductdestaque {
    /* border: 1px solid blue;  */
    display: flex;
    width: 900px;
    height: 750px;
}


.container_destaques {
    /* border: 1px solid red; */
    height: 120px;
    width: 100%;
    position: absolute;
    right: 45px;
    top: 1600px;
    
}

.shirt-image-empity {
    position: relative; 
    /* border: 1px solid red; */
    border-radius: 20px;
    
}

.shirt-image-empity::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    background-color: rgba(128, 128, 128, 0.774);
    z-index: 2;
    opacity: 0.5; 
    border-radius: 20px;
}

.shirt-image-empity img {
    position: relative;
    z-index: 1;
    filter: blur(1px);
}

.shirt-image-empity p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgba(155, 155, 155, 0.438);
    font-size: 25px;
    font-family: 'Teko';
    font-weight: 560;
    z-index: 3;
    position: absolute;
    border: 1px solid rgba(112, 112, 112, 0.089);
    bottom: 10px;
    width: 99%;
}

.products-opcoes {

    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    gap: 9px;
    isolation: isolate;
    width: 320.21px;
    height: 620px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;

}

.products-opcoes:hover {
    background-color: rgba(228, 226, 226, 0.349);
}


.products-opcoes:hover .container-adicionarcarrinho {
    display: block;

}



.imgstyle-products {
    /* image */

    box-sizing: border-box;
    width: 300.21px;
    height: 300px;
    border: 0.5px solid #000000;
    border-radius: 20px;
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    z-index: 0;

}



.itensname-style {
    /* Regata Vasco Alone Infantil R$ 59,90 */
    /* border: 1px solid red; */
    text-align: start;
    width: 300.21px;
    height: 50px;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    /* line-height: 25px; */
    color: #000000;
    /* Inside auto layout */
    /* flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    z-index: 1; */

}


.container-infoproduct {
    /* border: 1px solid red; */
    width: 300px;
    height: 100px;
    padding: 0px;
    margin: 0;
   
    

}


.bidproductdestaque {

    /* Casaco */
    position: absolute;
    width: 931px;
    height: 689px;
    left: 415px;
    top: 1154px;

}



.container_filtrartimes {
    /* border: 1px solid red; */
    height: 120px;
    width: 100%;
    position: absolute;
    right: 45px;
    top: 3090px;
}


.style-textfiltraportime {
    /* FILTRAR POR TIMES */

    position: absolute;
    width: 315px;
    height: 49px;
    right: 0px;
    top: 0px;
    font-family: 'Teko';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 100px;
    color: #FFFFFF;
    transform: matrix(1, 0, 0, -1, 0, 0);


}


.style-textnovidadesloja{
    /* border: 1px solid red; */
    position: absolute;
    width: 380px;
    height: 57px;
    right: 0px;
    top: 0px;
    font-family: 'Teko';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 120px;
    color: #ffffff;
    transform: matrix(1, 0, 0, -1, 0, 0);
}


.maisnovidadeloja-style {
    cursor: default;
    /* Rectangle 20 */
    position: absolute;
    width: 340px;
    height: 58px;
    left: 0px;
    top: 30px;
    background: #47B868;
    border-radius: 0px 100px 0px 0px;
    transform: matrix(1, 0, 0, -1, 0, 0);

}


.maisfiltrartime-style {
    cursor: default;
    /* Rectangle 20 */
    position: absolute;
    width: 290px;
    height: 58px;
    left: 0px;
    top: 30px;
    background: #47B868;
    border-radius: 0px 100px 0px 0px;
    transform: matrix(1, 0, 0, -1, 0, 0);

}


.container-productsfiltrartimes {

    /* Opções */
    /* Auto layout */
    /* border: 1px solid rgb(0, 0, 0); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0px;
    gap: 30px 15px;
    position: absolute;
    width: 1290.83px;
    height: 430px;
    left: 155px;
    top: 3270px;

}

.products-filtrartimes {
    /* Auto layout */
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 9px;

    width: 300.21px;
    height: 387px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.textfiltrartime { 
    /* border: 1px solid red; */
    width: 300.21px;
    height: 78px;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400px;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}


.infosite {
    /* border: 1px solid red; */
    display: flex;
    position: absolute;
    width: 1406px;
    height: 100px;
    left: 400px;
    top: max(0px, min(2850px, 3400px));
}


.container-info {
    border: 1px solid rgba(0, 0, 0, 0.37);
    border-radius: 15px;
    width: 450px;
    margin-left: 10px;
}

.info-title-style {
    /* border: 1px solid red; */
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    padding: 0;
    margin: 0;
    gap: 0;
    color: #363537;
}

.info-subs-style {
    /* border: 1px solid red; */
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    padding: 0;
    margin: 0;
    gap: 0;
}

.infosite-atendimento {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 1902px;
    height: 400px;
    top: max(0px, min(600px, 1000px)); /* Limita o valor de top */
    background-color: #363537;
}

.cont-sun-atendimento {
    /* border: 1px solid red; */
    width: 1300px;
    display: flex;
    position: absolute;
    left: 300px;
    top: 80px;
  
}

.infos-atendimentos {
    /* border: 1px solid red; */
    width: 25%;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    gap: 0px;
    
}

.style-infos-title-atendimento {
    padding: 0px;
    margin: 0px;
    gap: 0px;
    text-Align: start;
    color: white;
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    background: #363537;
    border-radius: 0px; 
    cursor: default;
}

.style-infos-atendimento {
    padding: 0px;
    margin: 0px;
    gap: 0px;
    text-Align: start;
    color: white;
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    background: #363537;
    border-radius: 0px; 
    cursor: pointer;
}

.style-infos-atendimento:hover {
    color: #c5c5c5;
}

.container-sun-infos {
    /* border: 1px solid red; */
    display: grid;
    height: 200px;
    gap: 0;
    padding: 0;
    margin: 0;
    row-gap: 0; 
    column-gap: 0;
}

.shirt-container {
    position: absolute;
    
}

.favorite-icon {
    position: absolute;
    left: 245px;
    top: 40px;
}

.copyright-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: white;
    width: 1903px;
    position: absolute;
    height: 60px;
    /* border: 1px solid rgb(5, 5, 5); */
    background-color:#47B868;
   
}



.result-searchbar {
    /* border: 1px solid red; */
    border-radius: 5px;
    height: 270px;
    overflow-y: auto;
    list-style: none;
}

.result-searchbar li {
   border: 1px solid rgba(177, 177, 177, 0.096);
   background-color: rgb(255, 255, 255);
   height: 40px;
   padding: 5px;
   font-family: 'Montserrat Alternates';
   font-size: 15px;
   font-weight: 750;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}


.result-searchbar img {
    order: 1px solid red;
    width: 40px;
    height: 40px;
    z-index: 5;
}

.style-preco-searchbar {
    width: 80px;
    white-space: nowrap;
    overflow: hidden;
}

.input-searchbar {
    /* border: 1px solid red; */
}

.container-cardprofile {
    list-style: none;
    border-radius: 2px;
    padding: 5px;
    margin: 0;
    /* border: 1px solid rgba(223, 0, 0, 0.438); */
    width: 150px;
    color: rgb(0, 0, 0);
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: absolute;
    top: 97px ;
    left: 1550px;

}

.container-cardprofile li{
    height: 40px;
    display: flex;
    align-items: center;
    /* border: 1px solid #47B868; */
    border-bottom: 1px solid #4f504f;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    font-size: 13px;
    padding: 2px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: 1s;
}

.container-cardprofile li:hover{
    background-color: rgba(218, 218, 218, 0.555);
   
}

.container-cardprofile img{
    /* border: 1px solid #47B868; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 20px;
}

.container-cardprofile p{
    /* border: 1px solid #47B868; */
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 20px;
}

.container-img-cardprofile {
    /* border: 1px solid red; */
    height: 20px;
}

.style-nome-searchbar  {
    display: flex;
    align-items: center;
    width: 300px;
    height: 40px;
    white-space: nowrap;
    /* border: 1px solid red; */
    overflow: hidden;

}

.container-img-seachbar {
    /* border: 1px solid red; */
    padding-right: 10px;
}


/* LOADER */

.wrapper {
    width: 200px;
    height: 60px;
    position: relative;
    z-index: 1;
  }
  
  .circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    left: 15%;
    transform-origin: 50%;
    animation: circle7124 .5s alternate infinite ease;
  }
  
  @keyframes circle7124 {
    0% {
      top: 60px;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
    }
  
    40% {
      height: 20px;
      border-radius: 50%;
      transform: scaleX(1);
    }
  
    100% {
      top: 0%;
    }
  }
  
  .circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
  }
  
  .circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  
  .shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow046 .5s alternate infinite ease;
  }
  
  @keyframes shadow046 {
    0% {
      transform: scaleX(1.5);
    }
  
    40% {
      transform: scaleX(1);
      opacity: .7;
    }
  
    100% {
      transform: scaleX(.2);
      opacity: .4;
    }
  }
  
  .shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
  }
  
  .shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  

/*  */


/* Heart */

/* position: absolute;
left: 84.27%;
right: 3.4%;
top: 2.7%;
bottom: 87.33%;



/* 
Rectangle 11

position: absolute;
width: 1440px;
height: 223px;
left: 0px;
top: 2631px;

background: #363537;
border-radius: 0px; */

/* Atendimento Horário de Funcionamento Segundo a Sexta : 08:00 ás 20:00 Domingo e Feriados: 10:00 ás 18:00 (21) 99613-4701 (21) 99613-4701

position: absolute;
width: 177px;
height: 118px;
left: 227px;
top: 2650px;

font-family: 'Russo One';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF; */


/* RESPONSIVIDADE */

@media (max-width: 800px) {

    .container-topflap {
        width: 500px;
      
    }   

    .container-sun-topflap {
        width: 1905px;
    }

    .container-searchbar {
        left: 880px;
    }

    .containercartuserheart {
        left: 1450px;
    }

}




























